.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #18181b;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    background-color: #27272a;
    border-radius: 0 0 10px 10px;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 50px;
    padding: 50px;
}
.card{
    border-radius: 30px;
    height: 20rem;
}
.button-container.card{
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #0e4686, #831f1b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #0e4686, #831f1b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: WHITE;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.blurred{
    filter: blur(8px);
    pointer-events: none;
}

.form-container{
    width: 100vw;
    height: 100vh;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(30%, 500px, 99%);
    height: min(80%, 99%);
    border-radius: 30px;
    z-index: 999;
    filter: blur(0);
    color: #18181b;
    background-color: #a1a1aa;
    padding: 5rem 7rem 5rem 7rem;
}

input{
    display: block;
    width: 100%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: #e4e4e7;
    margin-bottom: 2rem;
}
.rad{
    justify-content: space-around;
    margin-bottom: 1rem;
}
.radio{
    display: flex;
}
input[type="radio"]{
    display: inline;
    width: auto;
    margin: 0 0.5rem 0 0;
}
label[for="yes"], label[for="no"]{
    font-weight: normal;
}
label{
    line-height: 1.7rem;
    font-weight: 600;
}


.book{
    padding: 10%;
    color: white;
}
.book p{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-size: 1.7rem;
}
.book .book-info{
    text-align: end;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 2rem;
}

/*To be removed*/
.book{
    border: 1px solid green;
}